<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	<context-param>
  		<description>Vaadin production mode</description>
  		<param-name>productionMode</param-name>
  		<param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>shiroEnvironmentClass</param-name>
	    <param-value>org.mmoon.editor.erd16.Configuration</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SearchUI</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>org.mmoon.editor.erd16.SearchUI</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchUI</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchUIAdminPageNew</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>org.mmoon.editor.erd16.SearchUIAdminPageNew</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchUIAdminPageNew</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogInUI</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>org.mmoon.editor.erd16.LogInUI</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogInUI</servlet-name>
		<url-pattern>/login.jsp/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>org.mmoon.editor.erd16.LogOut</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout/*</url-pattern>
	</servlet-mapping>

	<!--servlet>
		<servlet-name>Conf</servlet-name>
		<servlet-clorg.mmoon.editor.erd16.Configurationtion</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet-->

	<filter>
	    <filter-name>ShiroFilter</filter-name>
	    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>ShiroFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	</filter-mapping>

</web-app>
